@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
  color: #fff;
}

._icon-insta:before {
  content: "\e901";
}

._icon-insta-whirte:before {
  content: "\e902";
  color: #fff;
}

._icon-search:before {
  content: "\e903";
}

._icon-package:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
  color: #fff;
}

._icon-arrow-select:before {
  content: "\e912";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 68.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-main {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.1666666667;
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

.title-main:not(:last-child) {
  margin-bottom: 0.25rem;
}

._watcher-view .title-main {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.title-footer {
  line-height: 1.6428571429;
  color: #fff;
  text-transform: uppercase;
}

.sub-title {
  font-weight: 700;
  line-height: 1.16;
}

.text {
  line-height: 1.16;
}

.button {
  padding: 0.5rem 1.4375rem;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.1666666667;
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 1.125rem;
  padding-bottom: 0.9375rem;
}

.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.4375rem;
}

.menu__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.375rem;
          flex: 0 0 24.375rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.75rem;
     -moz-column-gap: 1.75rem;
          column-gap: 1.75rem;
  row-gap: 0.625rem;
}

.menu__item {
  position: relative;
}

.menu__link::before {
  content: "";
  width: 100%;
  height: 0.0625rem;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -0.3125rem;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.menu__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.625rem;
  z-index: 2;
}

.action__insta {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.action__insta::before {
  font-size: 1.25rem;
}

.action__search {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.action__search::before {
  font-size: 1.25rem;
}

.action__market {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.action__market::before {
  font-size: 1.25rem;
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 3.1875rem;
  padding-bottom: 1.0625rem;
  background-color: #020202;
  color: #fff;
}

.footer__container {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
      -ms-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
}

._watcher-view .footer__container {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1.4s ease 0s;
  -o-transition: all 1.4s ease 0s;
  transition: all 1.4s ease 0s;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.8125rem;
  gap: 1.25rem;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.9375rem;
}

.first-column__logo-ibg {
  padding-bottom: 32%;
  margin-bottom: 2rem;
}

.first-column__logo-ibg img {
  max-width: 100%;
  max-height: 100%;
}

.first-column__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  font-size: 1.625rem;
}

.first-column__facebook {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.first-column__facebook:hover {
  opacity: 0.5;
}

.first-column__insta {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.first-column__insta:hover {
  opacity: 0.5;
}

.first-column__twitter {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.first-column__twitter:hover {
  opacity: 0.5;
}

.menu-footer__item {
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

.menu-footer__item:last-child {
  margin-bottom: 0;
}

.menu-footer__link {
  position: relative;
}

.menu-footer__link::before {
  content: "";
  width: 100%;
  height: 0.0625rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -0.3125rem;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.menu-footer__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-footer__link:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.copyright__text {
  text-align: center;
  line-height: 1.6428571429;
}

.main-block {
  position: relative;
  background-color: #f0efeb;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__informatino {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
}

.main-block__title {
  font-weight: 700;
  line-height: 1.1666666667;
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

.main-block__title:not(:last-child) {
  margin-bottom: 0.25rem;
}

._watcher-view .main-block__title {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.main-block__title:not(:last-child) {
  margin-bottom: 0.25rem;
}

.main-block__title-second:not(:last-child) {
  margin-bottom: 2.625rem;
}

.main-block__text {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

.main-block__text:not(:last-child) {
  margin-bottom: 1.625rem;
}

._watcher-view .main-block__text {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.main-block__button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.main-block__image-ibg_contain {
  -webkit-transform: translate(13%, -6%);
      -ms-transform: translate(13%, -6%);
          transform: translate(13%, -6%);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 46%;
          flex: 1 0 46%;
  padding-bottom: 50%;
  max-width: 100%;
}

.sellers__info {
  text-align: center;
  margin-bottom: 5.4375rem;
}

.sellers__title {
  margin-bottom: 1.6875rem;
}

.sellers__text {
  display: inline-block;
  margin-bottom: 2.9375rem;
  font-size: 1.25rem;
  max-width: 39.5rem;
}

.cards__title {
  text-align: center;
  margin-bottom: 3.25rem;
}

.cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-card {
  gap: 1.875rem;
}

.content-card__title-card {
  display: inline-block;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.1764705882;
  margin-bottom: 1.0625rem;
}

.content-card__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 19.6875rem;
          flex: 0 1 19.6875rem;
  text-align: center;
}

.content-card__card:hover img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.content-card__card:nth-child(1) {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

._watcher-view .content-card__card:nth-child(1) {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.content-card__card:nth-child(2) {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

._watcher-view .content-card__card:nth-child(2) {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 2s ease 0.5s;
  -o-transition: all 2s ease 0.5s;
  transition: all 2s ease 0.5s;
}

.content-card__card:nth-child(3) {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

._watcher-view .content-card__card:nth-child(3) {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 3s ease 1s;
  -o-transition: all 3s ease 1s;
  transition: all 3s ease 1s;
}

.content-card__image-ibg_contain {
  padding-bottom: 133%;
  margin-bottom: 1.6875rem;
}

.content-card__image-ibg_contain img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-card__price {
  line-height: 1.1764705882;
  margin-bottom: 0.625rem;
}

.content-card__link {
  position: relative;
  font-weight: 700;
  line-height: 1.1764705882;
}

.content-card__link::before {
  content: "";
  width: 100%;
  height: 0.0625rem;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -0.3125rem;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.content-card__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-card__link:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-card__body-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(204, 204, 204, 0.3);
}

.info-card__body-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: rgba(204, 204, 204, 0.6);
}

.info-card__body-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(204, 204, 204, 0.3);
}

.info-card__block {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.info-card__image-ibg_contain {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-bottom: 40%;
  max-width: 100%;
}

.info-card__image-ibg_contain img {
  max-width: 24.0625rem;
  max-height: 32.8125rem;
}

.info-card__body-first {
  background: rgba(204, 204, 204, 0.3);
}

.info-card__body-second {
  background: rgba(204, 204, 204, 0.6);
}

.info-card__body-third {
  background: rgba(204, 204, 204, 0.3);
}

.body-first__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.body-first__image-ibg_contain {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding-bottom: 50%;
  opacity: 0;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.body-first__image-ibg_contain img {
  max-width: 24.0625rem;
  max-height: 32.8125rem;
}

._watcher-view .body-first__image-ibg_contain {
  opacity: 1;
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.body-first__block {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0;
}

._watcher-view .body-first__block {
  opacity: 1;
  -webkit-transition: all 1s ease 1s;
  -o-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.body-first__title {
  margin-bottom: 1.9375rem;
}

.body-first__text {
  margin-bottom: 2.5rem;
}

.body-first__shop {
  position: relative;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.1764705882;
  text-decoration: underline;
}

.body-second__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 1.5625rem;
}

.body-second__image-ibg_contain {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding-bottom: 50%;
  opacity: 0;
  -webkit-transform: translate(100%, 0px);
      -ms-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
}

.body-second__image-ibg_contain img {
  max-width: 24.0625rem;
  max-height: 32.8125rem;
}

._watcher-view .body-second__image-ibg_contain {
  opacity: 1;
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.body-second__block {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0;
}

._watcher-view .body-second__block {
  opacity: 1;
  -webkit-transition: all 1s ease 1s;
  -o-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.body-second__title {
  margin-bottom: 1.9375rem;
}

.body-second__text {
  margin-bottom: 2.5rem;
}

.body-second__shop {
  position: relative;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.1764705882;
  text-decoration: underline;
}

.body-third__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.body-third__image-ibg_contain {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding-bottom: 50%;
  opacity: 0;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.body-third__image-ibg_contain img {
  max-width: 24.0625rem;
  max-height: 32.8125rem;
}

._watcher-view .body-third__image-ibg_contain {
  opacity: 1;
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.body-third__block {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0;
}

._watcher-view .body-third__block {
  opacity: 1;
  -webkit-transition: all 1s ease 1s;
  -o-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.body-third__title {
  margin-bottom: 1.9375rem;
}

.body-third__text {
  margin-bottom: 2.5rem;
}

.body-third__shop {
  position: relative;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.1764705882;
  text-decoration: underline;
}

.colors__title {
  font-size: 2.25rem;
  line-height: 1.1666666667;
  text-align: center;
}

.colors__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6.875rem;
  -webkit-column-gap: 11.375rem;
     -moz-column-gap: 11.375rem;
          column-gap: 11.375rem;
}

.blue__circle {
  width: 4.375rem;
  height: 4.375rem;
  background-color: #21f7ec;
  border-radius: 35px;
  margin: 0 auto;
}

.blue__info {
  margin-top: 1.625rem;
}

.green__circle {
  width: 4.375rem;
  height: 4.375rem;
  background-color: #33d3bc;
  border-radius: 35px;
  margin: 0 auto;
}

.green__info {
  margin-top: 1.625rem;
}

.sorbus__circle {
  width: 4.375rem;
  height: 4.375rem;
  background-color: #18a5c6;
  border-radius: 35px;
  margin: 0 auto;
}

.sorbus__info {
  margin-top: 1.625rem;
}

.brown__circle {
  width: 4.375rem;
  height: 4.375rem;
  background-color: #33d3bc;
  border-radius: 35px;
  margin: 0 auto;
}

.brown__info {
  margin-top: 1.625rem;
}

.red__circle {
  width: 4.375rem;
  height: 4.375rem;
  background-color: #f94c43;
  border-radius: 35px;
  margin: 0 auto;
}

.red__info {
  margin-top: 1.625rem;
}

.violet__circle {
  width: 4.375rem;
  height: 4.375rem;
  background-color: #d399ff;
  border-radius: 35px;
  margin: 0 auto;
}

.violet__info {
  margin-top: 1.625rem;
}

.review {
  position: relative;
}

.review::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 47%;
  left: 0;
  background-color: #f0f0f0;
}

.review__container {
  z-index: 3;
}

.review__title {
  z-index: 3;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
      -ms-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
  margin-bottom: 6.375rem;
}

._watcher-view .review__title {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews-block {
  z-index: 3;
}

.reviews-block__blocks {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5625rem;
}

.reviews-block__block {
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18rem;
          flex: 0 1 18rem;
  text-align: center;
}

.reviews-block__block:nth-child(1) {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

._watcher-view .reviews-block__block:nth-child(1) {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.reviews-block__block:nth-child(2) {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

._watcher-view .reviews-block__block:nth-child(2) {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 2s ease 0.5s;
  -o-transition: all 2s ease 0.5s;
  transition: all 2s ease 0.5s;
}

.reviews-block__block:nth-child(3) {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

._watcher-view .reviews-block__block:nth-child(3) {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 3s ease 1s;
  -o-transition: all 3s ease 1s;
  transition: all 3s ease 1s;
}

.reviews-block__image-ibg {
  padding-bottom: 122%;
  margin-bottom: 2.1875rem;
}

.reviews-block__image-ibg img {
  max-width: 24.0625rem;
  max-height: 21.9375rem;
}

.reviews-block__text {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.1818181818;
  letter-spacing: 0.6px;
  margin-bottom: 2.5rem;
}

.reviews-block__name {
  font-size: 1.1875rem;
  line-height: 1.1578947368;
}

.reviews-block__discover {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1666666667;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews-block__discover::before {
  content: "";
  width: 100%;
  height: 0.0625rem;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -0.3125rem;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.reviews-block__discover:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews-block__discover:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.touch__container {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
      -ms-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
}

._watcher-view .touch__container {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.touch__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1666666667;
  text-align: center;
  color: #000000;
  margin-bottom: 0.5625rem;
}

.touch__text {
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.1764705882;
  text-align: center;
  color: #000000;
}

.touch__title-block {
  margin: 0 auto;
  max-width: 31.25rem;
  margin-bottom: 1.625rem;
}

.touch-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 auto;
  max-width: 22.875rem;
}

.touch-form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 1.125rem;
}

.touch-form__first {
  max-width: 9.4375rem;
  height: 2.25rem;
  border: 0.0625rem solid #000000;
  color: #a0a0a0;
  padding: 0 0.5rem;
}

.touch-form__last {
  max-width: 9.4375rem;
  height: 2.25rem;
  border: 0.0625rem solid #000000;
  color: #a0a0a0;
  padding: 0 0.5rem;
}

.touch-form__email {
  height: 2.25rem;
  max-width: 100%;
  border: 0.0625rem solid #000000;
  color: #a0a0a0;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

.touch-form__button {
  margin: 0 auto;
  max-width: 9.6875rem;
  color: #fff;
}

@media (min-width: 68.125em) {
  .sub-title {
    font-size: 2.25rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .footer__title {
    margin-bottom: 2.25rem;
  }

  .main-block__container {
    padding-top: 9.25rem;
  }

  .main-block__container {
    padding-bottom: 5.625rem;
  }

  .main-block__title {
    font-size: 3.75rem;
  }

  .sellers {
    padding-top: 3.75rem;
  }

  .sellers {
    padding-bottom: 15rem;
  }

  .info-card__body-1 {
    padding-top: 4.75rem;
  }

  .info-card__body-1 {
    padding-bottom: 4.75rem;
  }

  .info-card__body-2 {
    padding-top: 4.75rem;
  }

  .info-card__body-2 {
    padding-bottom: 4.75rem;
  }

  .info-card__body-3 {
    padding-top: 4.75rem;
  }

  .info-card__body-3 {
    padding-bottom: 4.75rem;
  }

  .body-first__container {
    padding-top: 4.75rem;
  }

  .body-first__container {
    padding-bottom: 4.75rem;
  }

  .body-second__container {
    padding-top: 4.75rem;
  }

  .body-second__container {
    padding-bottom: 4.75rem;
  }

  .body-third__container {
    padding-top: 4.75rem;
  }

  .body-third__container {
    padding-bottom: 4.75rem;
  }

  .colors {
    padding-top: 11.875rem;
  }

  .colors {
    padding-bottom: 10.25rem;
  }

  .colors__title {
    margin-bottom: 4.375rem;
  }

  .review {
    padding-bottom: 3.25rem;
  }

  .reviews-block__name {
    margin-bottom: 2.75rem;
  }

  .touch {
    padding-bottom: 5.5rem;
  }

  .touch {
    padding-top: 4.9375rem;
  }
}

@media (max-width: 20em) {
  .sub-title {
    font-size: 2rem;
  }

  .text {
    font-size: 1.25rem;
  }

  .footer__title {
    margin-bottom: 1.25rem;
  }

  .main-block__container {
    padding-top: 4.375rem;
  }

  .main-block__container {
    padding-bottom: 4.375rem;
  }

  .main-block__title {
    font-size: 3rem;
  }

  .sellers {
    padding-top: 1.875rem;
  }

  .sellers {
    padding-bottom: 5rem;
  }

  .info-card__body-1 {
    padding-top: 3.125rem;
  }

  .info-card__body-1 {
    padding-bottom: 3.125rem;
  }

  .info-card__body-2 {
    padding-top: 3.125rem;
  }

  .info-card__body-2 {
    padding-bottom: 3.125rem;
  }

  .info-card__body-3 {
    padding-top: 3.125rem;
  }

  .info-card__body-3 {
    padding-bottom: 3.125rem;
  }

  .body-first__container {
    padding-top: 3.125rem;
  }

  .body-first__container {
    padding-bottom: 3.125rem;
  }

  .body-second__container {
    padding-top: 3.125rem;
  }

  .body-second__container {
    padding-bottom: 3.125rem;
  }

  .body-third__container {
    padding-top: 3.125rem;
  }

  .body-third__container {
    padding-bottom: 3.125rem;
  }

  .colors {
    padding-top: 5.625rem;
  }

  .colors {
    padding-bottom: 5.625rem;
  }

  .colors__title {
    margin-bottom: 3.125rem;
  }

  .review {
    padding-bottom: 1.875rem;
  }

  .reviews-block__name {
    margin-bottom: 1.5625rem;
  }

  .touch {
    padding-bottom: 3.125rem;
  }

  .touch {
    padding-top: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .reviews-block__blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 58.43625em) {
  .review::before {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .menu__block {
    gap: 4.4375rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #fff;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: -100%;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.25rem;
    row-gap: 1.25rem;
  }

  .action {
    gap: 1rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .main-block__informatino {
    margin-bottom: 1.875rem;
  }

  .main-block__button {
    width: 100%;
    padding: 1.25rem 0rem;
  }

  .main-block__image-ibg_contain {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-bottom: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .content-card__image-ibg_contain {
    padding-bottom: 90%;
  }

  .body-first__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-first__image-ibg_contain {
    padding-bottom: 100%;
  }

  .body-first__image-ibg_contain img {
    max-width: 100%;
    max-height: 100%;
  }

  .body-first__block {
    text-align: center;
  }

  .body-second__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-second__image-ibg_contain {
    padding-bottom: 100%;
  }

  .body-second__image-ibg_contain img {
    max-width: 100%;
    max-height: 100%;
  }

  .body-second__block {
    text-align: center;
  }

  .body-third__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-third__image-ibg_contain {
    padding-bottom: 100%;
  }

  .body-third__image-ibg_contain img {
    max-width: 100%;
    max-height: 100%;
  }

  .body-third__block {
    text-align: center;
  }

  .colors__body {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    row-gap: 5rem;
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body::before {
    min-height: 4.375rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 43.74875em) {
  .cards__card-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 31.37375em) {
  .colors__body {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
    row-gap: 1.875rem;
  }
}

@media (max-width: 26.56125em) {
  .touch-form {
    text-align: center;
  }

  .touch-form__name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .touch-form__first {
    max-width: 100%;
    text-align: center;
  }

  .touch-form__last {
    max-width: 100%;
    text-align: center;
  }

  .touch-form__email {
    max-width: 100%;
    text-align: center;
  }

  .touch-form__button {
    max-width: 100%;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 20em) and (max-width: 68.125em) {
@supports (font-size: clamp( 2rem , 1.8961038961rem  +  0.5194805195vw , 2.25rem )) {
    .sub-title {
      font-size: clamp( 2rem , 1.8961038961rem  +  0.5194805195vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.8961038961rem  +  0.5194805195vw , 2.25rem )) {
    .sub-title {
      font-size: calc(2rem + 0.25 * (100vw - 20rem) / 48.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1461038961rem  +  0.5194805195vw , 1.5rem )) {
    .text {
      font-size: clamp( 1.25rem , 1.1461038961rem  +  0.5194805195vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1461038961rem  +  0.5194805195vw , 1.5rem )) {
    .text {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 48.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8344155844rem  +  2.0779220779vw , 2.25rem )) {
    .footer__title {
      margin-bottom: clamp( 1.25rem , 0.8344155844rem  +  2.0779220779vw , 2.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8344155844rem  +  2.0779220779vw , 2.25rem )) {
    .footer__title {
      margin-bottom: calc(1.25rem + 1 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 4.375rem , 2.349025974rem  +  10.1298701299vw , 9.25rem )) {
    .main-block__container {
      padding-top: clamp( 4.375rem , 2.349025974rem  +  10.1298701299vw , 9.25rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 2.349025974rem  +  10.1298701299vw , 9.25rem )) {
    .main-block__container {
      padding-top: calc(4.375rem + 4.875 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 4.375rem , 3.8555194805rem  +  2.5974025974vw , 5.625rem )) {
    .main-block__container {
      padding-bottom: clamp( 4.375rem , 3.8555194805rem  +  2.5974025974vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 4.375rem , 3.8555194805rem  +  2.5974025974vw , 5.625rem )) {
    .main-block__container {
      padding-bottom: calc(4.375rem + 1.25 * (100vw - 20rem) / 48.125);
    }
}

@supports (font-size: clamp( 3rem , 2.6883116883rem  +  1.5584415584vw , 3.75rem )) {
    .main-block__title {
      font-size: clamp( 3rem , 2.6883116883rem  +  1.5584415584vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 3rem , 2.6883116883rem  +  1.5584415584vw , 3.75rem )) {
    .main-block__title {
      font-size: calc(3rem + 0.75 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0957792208rem  +  3.8961038961vw , 3.75rem )) {
    .sellers {
      padding-top: clamp( 1.875rem , 1.0957792208rem  +  3.8961038961vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0957792208rem  +  3.8961038961vw , 3.75rem )) {
    .sellers {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 5rem , 0.8441558442rem  +  20.7792207792vw , 15rem )) {
    .sellers {
      padding-bottom: clamp( 5rem , 0.8441558442rem  +  20.7792207792vw , 15rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 0.8441558442rem  +  20.7792207792vw , 15rem )) {
    .sellers {
      padding-bottom: calc(5rem + 10 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-1 {
      padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-1 {
      padding-top: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-1 {
      padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-1 {
      padding-bottom: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-2 {
      padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-2 {
      padding-top: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-2 {
      padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-2 {
      padding-bottom: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-3 {
      padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-3 {
      padding-top: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-3 {
      padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .info-card__body-3 {
      padding-bottom: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-first__container {
      padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-first__container {
      padding-top: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-first__container {
      padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-first__container {
      padding-bottom: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-second__container {
      padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-second__container {
      padding-top: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-second__container {
      padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-second__container {
      padding-bottom: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-third__container {
      padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-third__container {
      padding-top: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-third__container {
      padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.4496753247rem  +  3.3766233766vw , 4.75rem )) {
    .body-third__container {
      padding-bottom: calc(3.125rem + 1.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 5.625rem , 3.0275974026rem  +  12.987012987vw , 11.875rem )) {
    .colors {
      padding-top: clamp( 5.625rem , 3.0275974026rem  +  12.987012987vw , 11.875rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 3.0275974026rem  +  12.987012987vw , 11.875rem )) {
    .colors {
      padding-top: calc(5.625rem + 6.25 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 5.625rem , 3.7029220779rem  +  9.6103896104vw , 10.25rem )) {
    .colors {
      padding-bottom: clamp( 5.625rem , 3.7029220779rem  +  9.6103896104vw , 10.25rem );
    }
}

@supports not (padding-bottom: clamp( 5.625rem , 3.7029220779rem  +  9.6103896104vw , 10.25rem )) {
    .colors {
      padding-bottom: calc(5.625rem + 4.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.6055194805rem  +  2.5974025974vw , 4.375rem )) {
    .colors__title {
      margin-bottom: clamp( 3.125rem , 2.6055194805rem  +  2.5974025974vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.6055194805rem  +  2.5974025974vw , 4.375rem )) {
    .colors__title {
      margin-bottom: calc(3.125rem + 1.25 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3035714286rem  +  2.8571428571vw , 3.25rem )) {
    .review {
      padding-bottom: clamp( 1.875rem , 1.3035714286rem  +  2.8571428571vw , 3.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3035714286rem  +  2.8571428571vw , 3.25rem )) {
    .review {
      padding-bottom: calc(1.875rem + 1.375 * (100vw - 20rem) / 48.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.0689935065rem  +  2.4675324675vw , 2.75rem )) {
    .reviews-block__name {
      margin-bottom: clamp( 1.5625rem , 1.0689935065rem  +  2.4675324675vw , 2.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.0689935065rem  +  2.4675324675vw , 2.75rem )) {
    .reviews-block__name {
      margin-bottom: calc(1.5625rem + 1.1875 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.137987013rem  +  4.9350649351vw , 5.5rem )) {
    .touch {
      padding-bottom: clamp( 3.125rem , 2.137987013rem  +  4.9350649351vw , 5.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.137987013rem  +  4.9350649351vw , 5.5rem )) {
    .touch {
      padding-bottom: calc(3.125rem + 2.375 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 4.9375rem )) {
    .touch {
      padding-top: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 4.9375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 4.9375rem )) {
    .touch {
      padding-top: calc(1.875rem + 3.0625 * (100vw - 20rem) / 48.125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 68.125em) {
  .menu__body::before {
    min-height: 6.625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 68.125em) {
@supports (min-height: clamp( 4.375rem , 3.4399350649rem  +  4.6753246753vw , 6.625rem )) {
    .menu__body::before {
      min-height: clamp( 4.375rem , 3.4399350649rem  +  4.6753246753vw , 6.625rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.4399350649rem  +  4.6753246753vw , 6.625rem )) {
    .menu__body::before {
      min-height: calc(4.375rem + 2.25 * (100vw - 20rem) / 48.125);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #949393;
  }

  .action__insta:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, -10%);
        -ms-transform: translate(0px, -10%);
            transform: translate(0px, -10%);
  }

  .action__search:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, -10%);
        -ms-transform: translate(0px, -10%);
            transform: translate(0px, -10%);
  }

  .action__market:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, -10%);
        -ms-transform: translate(0px, -10%);
            transform: translate(0px, -10%);
  }

  .main-block__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #949393;
  }
}